/* Common styles for both desktop and mobile */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.filter .form_control {
  width: 9rem;
}

.filter label {
  margin-right: 10px;
  font-size: 20px;
  width: 20rem;
  height: 2rem;
}

.ellipsis-title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

table td:nth-child(4) {
  font-weight: bold;
}

/* Responsive styles for screens with minimum width 1024px */
@media (max-width: 1024px) {
  /* Modify header styles for smaller screens */
  .header_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
  }

  /* Modify filter styles for smaller screens */
  .filter {
    flex-direction: column;
  }

  .filter .form_control {
    width: 100%;
  }

  .filter label {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Hide table headers on smaller screens */
  th {
    display: none;
  }

  /* Adjust table cell styles on smaller screens */
  td {
    display: block;
    width: 100%;
  }

  /* Add spacing between table cells on smaller screens */
  td:not(:last-child) {
    margin-bottom: 10px;
  }

  /* Display table data as rows on smaller screens */
  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  /* Add border between table data on smaller screens */
  tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
}
